<%= form_for(@siaikekka) do |f| %>
  <% if @siaikekka.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@siaikekka.errors.count, "error") %> prohibited this siaikekka from being saved:</h2>

      <ul>
      <% @siaikekka.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :taikaimei %><br />
    <%= f.text_field :taikaimei %>
  </div>
  <div class="field">
    <%= f.label :hiduke %><br />
    <%= f.text_field :hiduke %>
  </div>
  <div class="field">
    <%= f.label :taisenaite %><br />
    <%= f.text_field :taisenaite %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </div>
  <div class="field">
    <%= f.label :grand %><br />
    <%= f.text_field :grand %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
